$Font56: clamp(1.75rem, 1.138rem + 3.06vw, 3.5rem);
$Font48: clamp(1.5rem, 0.975rem + 2.62vw, 3rem);
$Font40: clamp(1.25rem, 0.813rem + 2.19vw, 2.5rem);
$Font32: clamp(1rem, 0.65rem + 1.75vw, 2rem);
$Font24: clamp(0.75rem, 0.488rem + 1.31vw, 1.5rem);
$Font20: clamp(0.625rem, 0.406rem + 1.09vw, 1.25rem);
$Font16: clamp(0.5rem, 0.325rem + 0.87vw, 1rem);
$Font14: clamp(0.438rem, 0.284rem + 0.77vw, 0.875rem);
$Font12: clamp(0.375rem, 0.244rem + 0.66vw, 0.75rem);
$Font10: clamp(0.313rem, 0.203rem + 0.55vw, 0.625rem);
