.heading {
	margin-bottom: 2rem;
}

.title {
	font-family: 'Causten', Georgia;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.subtitle {
	font-family: 'Core Sans';
	font-weight: 400;
	font-size: 1.4rem;
	color: #807d7e;
}
