.container {
	padding: 6rem 0px;
	background: #2a2f2f;

	@media (max-width: 1200px) {
		padding: 5rem 0;
	}

	@media (max-width: 992px) {
		padding: 4rem 0;
	}

	@media (max-width: 768px) {
		padding: 3rem 0;
	}

	@media (max-width: 480px) {
		padding: 2.5rem 0;
	}
}

.footer {
	display: flex;
	flex-direction: column;
	max-width: 1235px;
	margin: 0 auto;
	padding: 0 20px;

	@media (max-width: 1280px) {
		max-width: 100%;
		padding: 0 2rem;
	}

	@media (max-width: 768px) {
		padding: 0 1.5rem;
	}

	@media (max-width: 480px) {
		padding: 0 1rem;
	}
}
