.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.title {
	font-size: 5rem;
	font-family: 'Core Sans';
	font-weight: 900;
	margin-bottom: 2.5rem;
	color: #fff;
}

.subtitle {
	font-size: 2.2rem;
	font-family: 'Causten';
	font-weight: 200;
	margin-bottom: 8rem;
	color: #fff;

	span {
		color: #fbd103;
		font-size: 2.2rem;
		font-weight: 500;
	}
}

@media (max-width: 480px) {
	.title {
		font-size: 2rem;
	}
}
