.container {
	display: flex;
	align-items: center;
	gap: 8px;
	padding-bottom: 15px;
	padding-top: 15px;
	border-bottom: 1px solid #edeef2;
}

.title {
	font-size: 1.4rem;
	font-weight: 700;
	width: 190px;

	span {
		font-size: 1.4rem;
		font-weight: 400;
		color: #807d7e;
	}
}

.secondary {
	font-size: 1.4rem;
	font-weight: 700;
	color: #807d7e;
}

.img {
	width: 60px;
	height: 60px;
	border-radius: 4px;
	margin-right: 15px;
}

.priceContainer {
	margin-left: auto;
}
