.wrapper {
	@apply flex relative items-center justify-between py-[20px];
	border-top: 3px solid rgba(190, 188, 189, 0.2);
	cursor: pointer;

	&::after {
		content: '';
		display: block;
		border-top: 3px solid rgba(190, 188, 189, 0.2);
		width: 30px;
		right: -30px;
		top: -3px;
		position: absolute;
	}

	&::before {
		content: '';
		display: block;
		border-top: 3px solid rgba(190, 188, 189, 0.2);
		width: 30px;
		left: -30px;
		top: -3px;
		position: absolute;
	}

	> .title {
		@apply text-[#807D7E] text-[2.4rem] font-semibold;
	}

	.img {
		scale: 1.5;
		cursor: pointer;
	}
}
