.wrapper {
	display: flex;
	position: relative;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 3px solid rgba(190, 188, 189, 0.2);

	&::after {
		content: '';
		display: block;
		border-bottom: 3px solid rgba(190, 188, 189, 0.2);
		width: 30px;
		right: -30px;
		bottom: -3px;
		position: absolute;

		@media (max-width: 991px) {
			width: 15px;
			right: -15px;
		}

		@media (max-width: 767px) {
			display: none;
		}
	}

	&::before {
		content: '';
		display: block;
		border-bottom: 3px solid rgba(190, 188, 189, 0.2);
		width: 30px;
		left: -30px;
		bottom: -3px;
		position: absolute;

		@media (max-width: 991px) {
			width: 15px;
			left: -15px;
		}

		@media (max-width: 767px) {
			display: none;
		}
	}

	@media (max-width: 991px) {
		padding-bottom: 15px;
		margin-bottom: 15px;
	}

	@media (max-width: 767px) {
		padding-bottom: 12px;
		margin-bottom: 15px;
		border-bottom: 2px solid rgba(190, 188, 189, 0.2);
	}

	> .title {
		color: #807d7e;
		font-size: 2.4rem;
		font-weight: 600;

		@media (max-width: 991px) {
			font-size: 2.2rem;
		}

		@media (max-width: 767px) {
			font-size: 2rem;
		}

		@media (max-width: 480px) {
			font-size: 1.8rem;
		}
	}
}
