.button {
	background-color: var(--white-grey-color);
	color: var(--main-brown-color);
	padding: 1.2rem;
	border-radius: 10px;
	align-items: center;
	display: flex;
	transition: all 0.2s ease;

	@media (min-width: 1400px) {
		padding: 1.4rem;
		border-radius: 12px;
	}

	@media (min-width: 1600px) {
		padding: 1.6rem;
		border-radius: 14px;
	}

	&:hover {
		background-color: #6620c1;
		color: white;
	}
}

.buttonActive {
	background-color: var(--primary-color);
	color: white;
	padding: 1.2rem;
	border-radius: 10px;
	align-items: center;
	display: flex;

	@media (min-width: 1400px) {
		padding: 1.4rem;
		border-radius: 12px;
	}

	@media (min-width: 1600px) {
		padding: 1.6rem;
		border-radius: 14px;
	}
}
