.container {
	display: flex;
	flex-direction: column;
	margin-bottom: 100px;
	width: 100%;
}

.title {
	font-size: 2.2rem;
}

.addNew {
	font-size: 1.8rem;
	color: #3c4242;
	cursor: pointer;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 2rem;
}

.addressList {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1.5rem;
	width: 100%;

	@media (max-width: 768px) {
		grid-template-columns: 1fr;
	}
}
