.container {
	display: flex;
	justify-content: space-between;
	margin: 0 8rem;
	align-items: end;
	gap: 20px;
	margin-bottom: 5rem;
}

.left {
	display: flex;
	gap: 1rem;
}

.title {
	color: #f6f6f6;
	margin-bottom: 2rem;
	font-size: 3rem;
	font-family: 'Causten';
	font-weight: bold;
}

.list {
	display: flex;
	gap: 2rem;
}