.nav {
	display: flex;
	gap: 2.4rem;
	justify-content: space-around;
	margin-bottom: 8rem;

	@media (max-width: 1200px) {
		gap: 2rem;
		margin-bottom: 6rem;
	}

	@media (max-width: 992px) {
		gap: 1.5rem;
		margin-bottom: 5rem;
	}

	@media (max-width: 768px) {
		flex-direction: column;
		gap: 3rem;
		margin-bottom: 4rem;
	}

	@media (max-width: 480px) {
		gap: 2.5rem;
		margin-bottom: 3rem;
	}
}
