.img {
	margin-bottom: 1.5rem;
}

.wrapper {
	position: relative;
}

.favorite {
	position: absolute;
	top: 1.2rem;
	right: 1.2rem;
	width: 3.2rem;
	height: 3.2rem;
	background-color: white;
	padding: 1rem;
	border-radius: 100%;
	align-items: center;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: left;
	max-width: 250px;
}

.content {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.name {
	color: #3c4242;
	font-family: 'Causten';
	font-weight: 600;
	font-size: 1.8rem;
	margin-bottom: 0.5rem;
	width: 150px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.price {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f6f6f6;
	padding: 1rem 1.6rem;
	font-size: 1.4rem;
	font-family: 'Causten';
	font-weight: bold;
	border-radius: 8px;
}

.type {
	font-family: 'Poppins';
	font-weight: 500;
	font-size: 1.8rem;
	margin-bottom: 0.5rem;
	color: #191919;
}

.subtitle {
	font-family: 'Causten';
	font-weight: 500;
	font-size: 1.4rem;
	color: #7f7f7f;
}

.arrow {
	display: flex;
	align-items: center;
}

.icon {
	cursor: pointer;
	color: #797979;
	transition: color 0.3s ease;

	&:hover {
		color: #8a33fd;
	}
}

@media (max-width: 920px) {
	.content {
		justify-content: space-between;
	}
}

@media (max-width: 450px) {
	.title {
		font-size: 1.5rem;
	}

	.subtitle {
		font-size: 1.2rem;
	}

	.icon {
		font-size: 1.5rem;
	}
}
