.wrapper {
	position: relative;
	border-bottom: 3px solid rgba(190, 188, 189, 0.2);
	&::after {
		content: '';
		display: block;
		border-bottom: 3px solid rgba(190, 188, 189, 0.2);
		width: 30px;
		right: -30px;
		bottom: -3px;
		position: absolute;
	}

	&::before {
		content: '';
		display: block;
		border-bottom: 3px solid rgba(190, 188, 189, 0.2);
		width: 30px;
		left: -30px;
		bottom: -3px;
		position: absolute;
	}
}

.container {
	@apply flex flex-col items-start gap-[12px] mb-[4rem];

	.checkbox {
		@apply w-8 h-8 data-[state=checked]:bg-[#8A33FD] border-solid border-[#8A33FD] rounded-[6px];
	}

	.label {
		@apply text-[14px] text-[#8A8989] font-semibold;
	}
}
