.customButton {
	border:2px solid;
	cursor: pointer;
	transition: transform 0.3s, opacity 0.3s;

	&:hover .customButtonContent {
		opacity: 0.8;
		background-color: var(--hover-background-color);
		color: var(--hover-text-color);
	}

	&:active .customButtonContent {
		transform: scale(0.95);
	}
}

.customButtonContent {
	display: inline-block;
	width: 100%;
	height: 100%;
	transition: inherit;
}
