.wrapper {
	display: flex;
	align-items: center;
	max-width: 800px;
	margin: 100px auto;
}

.box {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-left: 50px;
	padding: 80px 90px;
	border: 4px solid #3c4242;
	border-radius: 20px;
}

.icon {
	margin-bottom: 50px;
	border: 2px solid #d1d3d4;
	border-radius: 50%;
	width: 126px;
	height: 126px;
	display: flex;
	justify-content: center;
}

.text {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;

	h2 {
		color: #3c4242;
		width: 200px;
		font-size: 3rem;
		margin-bottom: 30px;
		font-family: 'Core Sans';
	}
}
