.empty {
	text-align: center;
	font-size: 3rem;
	font-family: 'Core Sans';
	font-weight: 700;
	color: #3c4242;
}

.navigate {
	text-align: center;
	font-size: 1.6rem;
	margin-top: 12px;
	font-family: 'Core Sans';
	font-weight: 400;
	color: #8a33fd;
	transition: all 0.3s ease-in-out;

	&:hover {
		color: #3c4242;
		text-decoration: underline;
	}
}

.container {
	margin-bottom: 6rem;
}

@media (max-width: 768px) {
	.empty {
		font-size: 2rem;
	}

	.navigate {
		font-size: 1.4rem;
	}

	.container {
		margin-bottom: 3rem;
		padding: 0 1rem;
	}
}
